@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --navbar: #ffe600;
  --foreground: #000000e6;
  --link: #3483fa;
  --nav-link: rgba(0, 0, 0, 0.9);
  --nav-link-hover: rgba(51, 51, 51, 0.9);
  --selection: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  /* TODO: Implement dark mode */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    var(--font-proxima-nova),
    -apple-system,
    Roboto,
    Arial,
    sans-serif;
}
