@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --navbar: #ffe600;
  --foreground: #000000e6;
}

@media (prefers-color-scheme: dark) {
  /* TODO: Implement dark mode */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    Proxima Nova,
    -apple-system,
    Roboto,
    Arial,
    sans-serif;
}
